* {
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
}
body {
	background: #FFFFFF;
}
@media (min-width:320px) and (max-width:640px) {
	main {
		position: relative;
		background: #FFFFFF;
		padding: 10px;
	}
	p {
		word-wrap: break-word;
	}
}